# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
IMMERSA/


# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
